
/* Styling for the background color and image */
.background-color {
    background: linear-gradient(to bottom, yellowgreen, lightgreen);
    background-image: url("css/galaxy\ floating\ 0.png");
    background-size: cover;
}

/* Resetting default margin, padding, and font for the entire body */
body {
    margin: 0;
    padding: 60px 0 0 0; /* Add top padding to create space for the fixed navbar */
    font-family: Arial, sans-serif;
}





/* Styling for pictures in the gallery tab */
.picture-in-gallery {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 10px solid black;
    border-style: groove;
}

/* Styling for pictures on the main page */
.picture-in-main-site {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 10px solid gray;
    border-style: groove;
}