/* Styling for lime-colored text */
.lime-text {
    color: #bfff00;
    font-weight: normal;
    text-align: center;
}
/* Styling for the footer with green-colored text */
.footer {
    color: #d4af37;
    font-weight: normal;
    text-align: center;
}

/* Styling for cyan-colored text */
.cyan-color {
    color: #2df3ea;
    font-weight: normal;
    text-align: center;
}

/* Styling for purplish-colored text */
.purplish-text {
    color: #e70590;
    font-weight: normal;
    text-align: center;
}

/* Styling for links in the navigation bar */
.links {
    text-decoration: none;
    color: lightgray;
    font-weight: normal;
    text-align: center;
    font-size: 20px;
}


