/* Styling for lime-colored text */
.lime-text {
    color: #bfff00;
    font-weight: normal;
    text-align: center;
}
/* Styling for the footer with green-colored text */
.footer {
    color: #d4af37;
    font-weight: normal;
    text-align: center;
}

/* Styling for cyan-colored text */
.cyan-color {
    color: #2df3ea;
    font-weight: normal;
    text-align: center;
}

/* Styling for purplish-colored text */
.purplish-text {
    color: #e70590;
    font-weight: normal;
    text-align: center;
}

/* Styling for links in the navigation bar */
.links {
    text-decoration: none;
    color: lightgray;
    font-weight: normal;
    text-align: center;
    font-size: 20px;
}


.label{
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    color: #d4af37;
    margin-left: auto;
    margin-right: auto;
}
/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.centered-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Adjust the height as needed */
    flex-direction: column;
    text-align: center;
}

.center-form {
    text-align: center;
}

/* Other CSS rules remain the same */

.center-form .box {
    display: block;
    margin: 0 auto;
    width: 200px; /* Adjust the width as needed */
}

.submit-button {
    display: block;
    margin: 20px auto; /* Adjust the margin as needed */
}
